 * {
  font-family: 'Courier New', Courier, monospace;
 } 

.Home{
  width: 100%;
  height: 100%;
  color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login, .SignUp{
  width: 100%;
  height: 100%;
  color: chartreuse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header{
  background-color: black;
  color: chartreuse;
  display: flex;
}

.Header a{
  margin: 10px 20px;
}

.Login input, .SignUp input{
  display: block;
}

.Play{
  background-color: black;
}

.LeaderBoardItem{
  color: chartreuse;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.GameOver p{
  position: block;
}

.GameOver{
  padding: 0px 20px;
}

.GameOver a{
  display: block;
}

a{
  color: chartreuse;
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

img{
  position: absolute;
}

.Game {
  background-color: black;
  height: 550px;
  width: 550px;
  position: absolute;
  left: 100px;
  right: 100px;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

.Game p, .Game h3{
  color:white;
}

.Lives{
  top: 0px;
  left: 0px;
  position: absolute;
}

.Score{
  top: 40px;
  left: 0px;
  position: absolute;
}

.User{
  position: absolute;
  top: 0px;
  left: 600px;
}

.errorMessage{
  color: red;
  font-size: x-small;
  font-weight: bold;
}

input{
  padding: 10px;
  background-color: black;
  border-bottom: 1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
}

.currentHeader{
  font-weight: bold;
}

.currentHeader:hover{
  color: chartreuse;
}

.titles > p{
  font-weight: bold;
}

.StartGame{
    font-weight: bold;
}

span{
  font-weight: bold;
}